<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{site.baseurl}}/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{site.baseurl}}/assets/css/landing-page.css" rel="stylesheet">
    <style>
      .intro-header {
         background: url("{{page.banner}}") no-repeat center center;
      }
      .banner {
         background: url("{{page.banner}}") no-repeat center center;
      }
    </style>
    <!-- Custom Fonts -->
    <link href="{{site.baseurl}}/assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
{% include header2.html %}
<div class="content-section-a">
   <div class="container">     
      <a name="about"></a> 
      <div class="row">
        {{ content }}
      </div>
   </div>
</div>

{% for tip in page.tips %}
  {% for post in site.categories['tip'] %}
    {% if tip == post.tipid %}
      {% capture thecycle %}{% cycle 'even', 'odd' %}{% endcapture %}
      {% if thecycle == 'odd' %}
        {% capture section %}a{% endcapture %}
        {% capture divclass %}col-lg-5 col-sm-6{% endcapture %}
      {% else %}
        {% capture section %}b{% endcapture %}
        {% capture divclass %}col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6{% endcapture %}
      {% endif %}
      <div class="content-section-{{ section }}">
        <div class="container">      
            <div class="row">
                <a name="{{post.tipid}}"></a>
                <div class="{{divclass}}">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>                    
                    {{ post.content }}
                </div>
                {% if post.images.size == 2 %}
                  <div class="col-lg-5 col-sm-6 align-bottom {% if thecycle == 'odd' %}col-lg-offset-2 align-right{% else %}col-lg-pull-6 align-left{% endif %}">
                    <a href="{{ post.images[0] }}"><img class="img-responsive" src="{{ post.images[0] }}" alt="{{  post.images[0] }}"></a>
                  </div>
                  </div><div class="row">
                  <!-- <div class="clearfix"></div> -->
                  <div class="col-lg-5 col-sm-6 {% if thecycle == 'odd' %}col-lg-offset-7 align-right{% else %}col-lg-pull-6 align-left{% endif %} buffer-top">
                   <a href="{{ post.images[1] }}"><img class="img-responsive" src="{{ post.images[1] }}" alt="{{  post.images[1] }}"></a>
                  </div>
                {% else %}
                  {% if thecycle == 'odd' %}
                  <div class="col-lg-5 col-sm-6 col-lg-offset-2 align-bottom align-right">
                    <a href="{{ post.images[0] }}"><img class="img-responsive" src="{{ post.images[0] }}" alt="{{  post.images[0] }}"></a>
                  </div>
                  </div><div class="row">
                  <!-- <div class="clearfix"></div> -->
                  <div class="col-lg-5 col-sm-6 buffer-top">
                    <a href="{{ post.images[2] }}"><img class="img-responsive" src="{{ post.images[2] }}" alt="{{  post.images[2] }}"></a>
                  </div>
                  <div class="col-lg-5 col-sm-6 col-lg-offset-2 buffer-top">
                    <a href="{{ post.images[1] }}"><img class="img-responsive" src="{{ post.images[1] }}" alt="{{  post.images[1] }}"></a>
                  </div>
                  {% else %}
                  <div class="col-lg-5 col-sm-6 col-lg-pull-6 align-bottom align-left">
                    <a href="{{ post.images[0] }}"><img class="img-responsive" src="{{ post.images[0] }}" alt="{{  post.images[0] }}"></a>
                  </div>
                  </div><div class="row">
                  <!-- <div class="clearfix"></div> -->
                  <div class="col-lg-5 col-sm-6 buffer-top">
                    <a href="{{ post.images[1] }}"><img class="img-responsive" src="{{ post.images[1] }}" alt="{{  post.images[1] }}"></a>
                  </div>
                  <div class="col-lg-5 col-sm-6 col-lg-offset-2 buffer-top">
                    <a href="{{ post.images[2] }}"><img class="img-responsive" src="{{ post.images[2] }}" alt="{{  post.images[2] }}"></a>
                  </div>
                  {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
  {% endfor %}
{% endfor %}
{% include footer2.html %}
<!-- jQuery Version 1.11.0 -->
<script src="{{site.baseurl}}/assets/js/jquery-1.11.2.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
	</body>
</html>
