<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{site.baseurl}}/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{site.baseurl}}/assets/css/landing-page.css" rel="stylesheet">
    <style>
      .intro-header {
         background: url("{{page.banner}}") no-repeat center center;
      }
      .banner {
         background: url("{{page.banner}}") no-repeat center center;
      }
    </style>
    <!-- Custom Fonts -->
    <link href="{{site.baseurl}}/assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

{% if page.images[0].image.size == 'large' %}
  {% capture section %}c{% endcapture %}
  {% capture divclass %}col-lg-5 col-sm-6 col-lg-offset-4{% endcapture %}
{% else %}
  {% capture section %}b{% endcapture %}
  {% capture divclass %}col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6{% endcapture %}
{% endif %}

<div class="content-section-{{ section }}">
        <div class="container">      
            <div class="row">
                <a name="{{post.tipid}}"></a>
                <div class="{{divclass}}">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ page.title }}</h2>                    
                    {{ content }}
                </div>
                {% if page.images.size == 2 %}
                    <div class="col-lg-5 col-sm-6 {% if thecycle == 'odd' %}col-lg-offset-2{% else %}col-lg-pull-6{% endif %}">
                      <a href="{{ page.images[0] }}"><img class="img-responsive" src="{{ page.images[0] }}" alt="{{  page.images[0] }}"></a>
                    </div>
                    <!--<div class="clearfix"></div>-->
                    <div class="col-lg-5 col-sm-6 {% if thecycle == 'odd' %}col-lg-offset-7{% else %}col-lg-pull-6{% endif %} buffer-top">
                     <a href="{{ page.images[1] }}"><img class="img-responsive" src="{{ page.images[1] }}" alt="{{  page.images[1] }}"></a>
                    </div>
                {% else %}

                    {% if page.images[0].image.size == 'large' %}
                      <div class="col-lg-12 col-sm-6 col-lg-offset-1">
                        <br><br>
                        <a href="{{ page.images[0].image.link }}"><img class="img-responsive" src="{{ page.images[0].image.link }}" alt="{{  page.images[0].image.link }}"></a>
                        <br><br>
                      </div>

                    {% else %}
                        <div class="col-lg-5 col-sm-6 col-lg-pull-6">
                          <a href="{{ page.images[0] }}"><img class="img-responsive" src="{{ page.images[0] }}" alt="{{  page.images[0] }}"></a>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-lg-5 col-sm-6 buffer-top">
                          <a href="{{ page.images[1] }}"><img class="img-responsive" src="{{ page.images[1] }}" alt="{{  page.images[1] }}"></a>
                        </div>
                        <div class="col-lg-5 col-sm-6 col-lg-offset-2">
                          <a href="{{ page.images[2] }}"><img class="img-responsive" src="{{ page.images[2] }}" alt="{{  page.images[2] }}"></a>
                        </div>
                    {% endif %}

                {% endif %}
            </div>
        </div>
    </div>


  <!-- jQuery Version 1.11.0 -->
  <script src="{{site.baseurl}}/assets/js/jquery-1.11.2.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>

</body>
</html>
